<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" formControlName="email" class="form-control" id="email"  placeholder="Enter email" [ngClass]="{'is-invalid': submitted && component.email.errors}">
              <small class="invalid-feedback form-text text-muted" *ngIf="submitted && component.email.errors?.email">E-mail Formatında Giriş Yapınız</small>
              <small class="invalid-feedback form-text text-muted" *ngIf="submitted && component.email.errors?.required">E-mail adresi boş geçilemez</small>
              <small class="invalid-feedback form-text text-muted" *ngIf="submitted && (component.email.errors?.minlength  || component.email.errors?.maxlength)">2-500 karakter arasında olmalıdır</small>
            </div>
            <div class="form-group">
                <label for="nameSurname">Ad Soyad</label>
                <input type="text" formControlName="nameSurname" class="form-control" id="nameSurname" placeholder="Ad Soyad" [ngClass]="{'is-invalid': submitted && component.nameSurname.errors}">
                <small class="invalid-feedback form-text text-muted" *ngIf="submitted && component.nameSurname.errors?.required" >Ad-Soyad boş geçilemez</small>
              </div>
            <div class="form-group">
                <label for="username">Kullanıcı Adı </label>
                <input type="text"  formControlName="username" class="form-control" id="username" placeholder="Kullanıcı Adı" [ngClass]="{'is-invalid': submitted && component.username.errors}">
                <small class="invalid-feedback form-text text-muted" *ngIf="submitted && component.username.errors?.required" >Kullanıcı Adı boş geçilemez</small>
              </div>
            <div class="form-group">
              <label for="password">Şifre </label>
              <input type="password"  formControlName="password" class="form-control" id="password" placeholder="Şifre"  [ngClass]="{'is-invalid': submitted && component.password.errors}">
              <small class="invalid-feedback form-text text-muted" *ngIf="submitted && component.password.errors?.required" >Şifre boş geçilemez</small>

            </div>
            <div class="form-group">
                <label for="passwordConfirm">Şifre Tekrar </label>
                <input type="password"  formControlName="passwordConfirm" class="form-control" id="passwordConfirm" placeholder="Şifre Tekrar"  [ngClass]="{'is-invalid': submitted && component.passwordConfirm.errors}">
                <small  *ngIf="submitted && frm.hasError('notSame')" >Şifreler uyuşmuyor</small>
                
              </div>
              <br>
            <div class="form-group form-check">
              <input  type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
          </form>
    </div>
    <div class="col-md-2"></div>
</div>


