<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted" style="display: none;">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="ad">Ad Soyad</label>
                <input type="text" formControlName="adSoyad" class="form-control" id="ad" placeholder="Ad Soyad">
                <small id="emailHelp" class="form-text text-muted" style="display: none;">We'll never share your email with anyone else.</small>
              </div>
            <div class="form-group">
                <label for="kullaniciAdi">Kullanıcı Adı </label>
                <input type="text"  formControlName="kullaniciAdi" class="form-control" id="kullaniciAdi" placeholder="Kullanıcı Adı">
                <small id="emailHelp" class="form-text text-muted" style="display: none;">We'll never share your email with anyone else.</small>
              </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Şifre </label>
              <input type="password"  formControlName="sifre" class="form-control" id="exampleInputPassword1" placeholder="Şifre">
              <small id="emailHelp" class="form-text text-muted" style="display: none;">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="sifreTekrar">Şifre Tekrar </label>
                <input type="password"  formControlName="sifreTekrar" class="form-control" id="sifreTekrar" placeholder="Şifre Tekrar">
                <small id="emailHelp" class="form-text text-muted" style="display: none;">We'll never share your email with anyone else.</small>
              </div>
              <br>
            <div class="form-group form-check">
              <input  type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
          </form>
    </div>
    <div class="col-md-2"></div>
</div>


